.boxBackground{
    background-color: lightgrey;
    padding: 1.875em 0em;
}

.box{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
}

.topRatedItem{
    list-style: none;
    width: 6.25em;
    height: 12.50em;
    background-color: grey;
}